NODE_ENV=development
PORT=5000
DATABASE_URL=<Shared_in_README>
JWT_ACCESS_SECRET=4e67d1f9b9a7acb94dad442c233ae82ce4b3a3ef9e38b358d6ef781115378e13
JWT_REFRESH_SECRET=d6cc1026d8d536d9327d98e3a1cc335d239ba8ebfc0dfc826fefef0d61522c96
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
CORS_ORIGINS=http://localhost:3000
ARCHIVE_AFTER_DAYS=30
ARCHIVE_BATCH_SIZE=1000
ENABLE_ARCHIVE_CRON=false
